#gamecontainer {
  background-color: transparent;
  width: 2000px;
  height: 600px;
  position: relative;
}

#container {
  width: 300px;
  height: 35px;
}

#tamaDiv {
  position: absolute;
  padding-top: 305px;
}

#tamaDiv img {
  width: 200px;
  height: 130px;
}

.tamagotchi {
  position: absolute;
  display: none;
}