#gamecontainer {
  width: 2120px;
  position: relative;
}

#tamaDiv {
  position: absolute;
  padding-top: 500px;
}

#tamaDiv img {
  width: 200px;
  height: 130px;
}

.tamagotchi {
  position: absolute;
  display: none;
}
