#gamecontainer {
  width: 2120px;
  position: relative;
  height: auto;
}

#apple img {
    position: absolute;
    top: 0px;
  margin-left: 1000px;
  width: 70px;
  height: 50px;
}

#tamaDiv {
  position: absolute;
  padding-top: 970px;
}

#tamaDiv img {
  width: 200px;
  height: 130px;
}

.tamagotchi {
  position: absolute;
  display: none;
}
